.hero {
  width: 100%;
  min-height: 1080px;
  background-image: url("../../assets/images/heroBG.png");
  background-repeat: no-repeat;
  background-position: center top;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_content {
  max-width: 760px;
  display: flex;
  flex-direction: column;
}
.hero_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 2;
}
.hero_content-title {
  font-size: 66px;
  text-transform: uppercase;
  font-weight: 500;
}
.hero_content-title_two {
  margin-top: 10px;
  font-family: var(--Font-StolzlBook);
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.1px var(--orange-color);
}
.hero_content-description {
  margin-top: 27px;
  max-width: 720px;
  font-size: 20px;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  line-height: 27px;
}
.hero_content-btn {
  margin-top: 56px;
}

/* АДАПТИВ */
@media screen and (max-width: 940px) {
  .hero_content {
    padding: 0 32px;
    gap: 18px;
  }
  .hero_content-title {
    font-size: 52px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 680px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 780px) {
  .hero {
    min-height: 100vh;
  }
  .hero_content {
    padding: 0 16px;
    gap: 16px;
  }
  .hero_content-title {
    max-width: 500px;
    font-size: 42px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 500px;
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (max-width: 580px) {
  .hero_content-title {
    max-width: 400px;
    font-size: 32px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 400px;
    font-size: 13px;
    line-height: 20px;
  }
  .hero {
    background-image: url("../../assets/images/heroBgMobile.png");
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .hero_content-title {
    width: 100%;
  }
  .hero_content-description {
    width: 100%;
  }
}
