.description-characters {
  height: 1024px;
}
.description-characters_wrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description-characters_wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 750px;
  background: linear-gradient(0deg, #030002 0%, rgba(6, 2, 4, 0) 100%);
}
.description-characters_content {
  display: flex;
  align-items: center;
}

/* ПОЛОЖЕНТЕ ОПИСАНИЯ ГЕРОЯ */
.description-characters_content-inner {
  padding-left: 580px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.description-characters_hero {
  position: absolute;
  left: 30px;
}
.description-characters_hero-img_2 {
  left: 120px;
}
.description-characters_hero-img_3 {
  left: -60px;
}

.description-characters_description {
  width: 633px;
  height: 460px;
}
.description-characters_description-name {
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  font-size: 90px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--natural-white);
}
.description-characters_description-ability {
  color: var(--natural-white);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.description-characters_description-text {
  max-width: 648px;
  margin-top: 25px;
  color: var(--gray-colors-300);
  font-family: var(--Font-StolzlBook);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.description-characters_buttons {
  margin-top: 132px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.description-characters_btn {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-color);
  border-radius: 50px;
}
.description-characters_btn:active {
  opacity: 0.8;
}
.description-characters_btn:disabled {
  background: transparent;
  border: 1px solid var(--bg-dark-100);
}
.description-characters_btn:disabled:active {
  animation: buttonAnimationDisabled 0.3s ease;
}
.description-characters_line-top,
.description-characters_line-bottom {
  position: absolute;
}
.description-characters_line-top {
  top: 93px;
  right: 160px;
}
.description-characters_line-bottom {
  right: 361px;
  bottom: 58px;
}

/* АНИМАЦИЯ ДЛЯ ПОЯВЛЕНИЯ СЛАЙДОВ */
.slide-anim-bg {
  animation: slideAnimationBg 0.5s ease;
}
.slide-anim-img {
  animation: slideAnimationImg 0.5s ease;
}
.slide-anim-content {
  animation: slideAnimationContent 0.5s ease;
}
@keyframes slideAnimationBg {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideAnimationContent {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideAnimationImg {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* АНИМАЦИЯ ДЛЯ НЕАКТИВНОЙ КНОПКИ */
@keyframes buttonAnimationDisabled {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* АДАПТИВ */
@media screen and (max-width: 1800px) {
  .description-characters_line-top {
    right: 120px;
  }
}
