.header {
  max-width: 1655px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.header_bg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.header_wrapper {
  height: 81px;
  position: absolute;
  top: 0;
  left: 73px;
  right: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_l-content {
  display: flex;
  align-items: center;
}
.header_svg-left {
  position: absolute;
  left: -10px;
}
.header_svg-right {
  position: absolute;
  right: -10px;
}
.header_list {
  padding-left: 73px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.header_list-item {
  color: var(--natural-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  text-transform: uppercase;
}
.header_popup-languages-selected {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.header_popup-languages-selected img {
  border-radius: 2px;
}
.header_popup-languages_block {
  width: 156px;
  height: 128px;
  position: absolute;
  top: 60px;
  background: var(--bg-dark-800);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}
.header_popup-languages_block.open {
  transform: translateY(34px);
  opacity: 1;
  z-index: 1;
}
.header_popup-languages_block-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_popup-languages_block-list .item {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}
