.video-thumbnail {
  width: 100%;
  height: 100%;
}
.video-thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-video_play {
  display: flex;
  align-items: center;
  gap: 22px;
}
.button-video_play-btn {
  width: 128px;
  height: 128px;
  border: 6px solid var(--natural-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-video_play-text {
  color: var(--natural-white);
  font-size: 48px;
  font-family: var(--Font-strolzlBebasNeue);
  font-weight: 400;
  text-transform: uppercase;
}
.video-player {
  width: 100%;
  height: 100%;
}

/* АДАПТИВ */
@media screen and (max-width: 1100px) {
  .button-video_play-text {
    font-size: 38px;
  }
  .button-video_play-btn {
    width: 100px;
    height: 100px;
  }
  .button-video_play-btn svg {
    width: 32px;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .button-video_play {
    gap: 16px;
  }
  .button-video_play-text {
    font-size: 28px;
  }
  .button-video_play-btn {
    border-width: 3px;
    width: 84px;
    height: 84px;
  }
  .button-video_play-btn svg {
    width: 26px;
    height: 100%;
  }
}
@media screen and (max-width: 640px) {
  .button-video_play-text {
    font-size: 24px;
  }
  .button-video_play-btn {
    width: 64px;
    height: 64px;
  }
  .button-video_play-btn svg {
    width: 22px;
    height: 24px;
  }
}
