.orange-btn {
  width: 210px;
  padding: 12px 25px;
  background: var(--orange-color);
  border-radius: 100px;

  text-align: center;
  color: var(--natural-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 210%;
  letter-spacing: 0.02em;
  user-select: none;
}
.orange-btn:hover {
  opacity: 0.9;
}
@media screen and (max-width: 780px) {
  .orange-btn {
    height: 56px;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 580px) {
  .orange-btn {
    font-size: 16px;
    line-height: 18px;
  }
}
