.orange-btn {
  width: 210px;
  padding: 12px 25px;
  background: var(--orange-color);
  border-radius: 100px;

  text-align: center;
  color: var(--natural-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 210%;
  letter-spacing: 0.02em;
  user-select: none;
}
.orange-btn:hover {
  opacity: 0.9;
}
