.footer_wrapper {
  padding: 25px 0;
}
.footer_navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_navigation-list_item {
  color: var(--bg-secondary-5);
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.footer_navigation-list_item:hover {
  opacity: 0.8;
}
.footer_navigation-list_line {
  opacity: 0.5;
}
.footer_navigation-list_line:last-child {
  display: none;
}
.footer_navigation-line {
  width: 100%;
  border: 2px solid var(--orange-color);
}
.footer_bottom {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.footer_bottom-text {
  max-width: 620px;
  text-align: center;
  color: var(--bg-secondary-5);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.5;
}
